<div [formGroup]="formTableVente">

<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <caption></caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                Product name
            </th>
            <th scope="col" class="px-6 py-3">
                Prix
            </th>
            <th scope="col" class="px-6 py-3">
                Quantite
            </th>
            <th scope="col" class="px-6 py-3">
                montant total
            </th>
            <th scope="col" class="px-6 py-3">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let item of infosVente" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   {{item.produit}}
                </th>
                <td class="px-6 py-4">  
                    {{item.prix}} 
                </td>
                <td class="px-6 py-4">
                    <input type="number" (input)="updateMontantTotal($event, item)" value="{{item.quantite}}" id="first_product" class="bg-gray-50 w-14 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1" required>
                </td>
                <td class="px-6 py-4">
                    <input type="text"  value="{{item.quantite*item.prix}}" class="border-none w-24" >
                </td>
                <td class="px-6 py-4">
                    <button (click)="removeInfVente(item)" class="font-medium text-red-600 hover:underline">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
