<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<!-- <div class="mr-24">
    <img class="h-auto max-w-xs" src="../../assets/img/image-removebg-preview (1).png" alt="image description">
</div> -->
<div class="grid grid-cols-2 md:grid-cols-3 0 gap-4 m-8 xl:m-44 xl: h-96 items-center text-center border-t-2 border-blue-900 rounded  shadow-xl bg-white">
    <div>
        <a href="/vente" class="bg-blue-100 block max-w-sm p-6  border border-gray-200 rounded-lg shadow hover:bg-blue-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            
            <h5 class="mb-2 text-9xl text-center font-bold tracking-tight text-gray-900 dark:text-white"><i class="fa-brands fa-sellcast"></i></h5>
            <p class="font-bold text-center text-2xl text-gray-700 dark:text-gray-400">Vente</p>
        </a>
    </div>
    <div>
        <a href="/produit" class="bg-blue-100 block max-w-sm p-6  border border-gray-200 rounded-lg shadow hover:bg-blue-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-9xl text-center font-bold tracking-tight text-gray-900 dark:text-white"><i class="fa-brands fa-product-hunt"></i></h5>
            <p class="font-bold text-center text-2xl text-gray-700 dark:text-gray-400">Ajouter Produit</p>
        </a>
    </div>
    <div>
        <a href="/liste-produits" class="bg-blue-100 block max-w-sm p-6  border border-gray-200 rounded-lg shadow hover:bg-blue-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-9xl text-center font-bold tracking-tight text-gray-900 dark:text-white"><i class="fa-solid fa-list"></i></h5>
            <p class="font-bold text-center text-2xl text-gray-700 dark:text-gray-400">Lister Produit</p>
        </a>
    </div>
</div>
  <!-- <router-outlet></router-outlet> -->
